/* src/app/home/home.component.css */

.home-container {
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
    font-family: Arial, sans-serif;
  }
  
  header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  header h1 {
    font-size: 2.5rem;
    color: #2c3e50;
  }
  
  header p {
    font-size: 1.2rem;
    color: #7f8c8d;
  }
  
  .quiz-info {
    margin-bottom: 40px;
  }
  
  .quiz-info h2 {
    font-size: 1.8rem;
    color: #3498db;
  }
  
  .quiz-info ul {
    list-style-type: none;
    padding: 0;
  }
  
  .quiz-info li {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .quiz-info a {
    text-decoration: none;
    color: #3498db;
  }
  
  .quiz-info a:hover {
    text-decoration: underline;
  }
  
  .cta {
    text-align: center;
  }
  
  .cta p {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .cta button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cta button:hover {
    background-color: #2980b9;
  }
  